## .NET Core 기본 제외 항목 ##

# 빌드 결과
[Bb]in/
[Oo]bj/

# 로그 파일
*.log

# 사용자 특정 파일
*.user
*.suo
*.userprefs

# Visual Studio 설정 파일
.vs/

# NuGet 패키지
.nuget/
*.nupkg
packages/

# ReSharper
_ReSharper.*/

# Rider
.idea/


# MSTest 테스트 결과
TestResults/

# 로컬 개발 환경 설정 파일
appsettings.Development.json

# Azure Functions
bin/
obj/
local.settings.json

# 컴파일된 출력
*.dll
*.pdb

# macOS
.DS_Store

Docker/
PodMan/